In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

def clean_campaigns(df):
    df['total_count'] = df['total_count'].astype('object')
    df['hour_limit'] = df['hour_limit'].astype('object')
    df['subject_length'] = df['subject_length'].astype('object')
    df['position'] = df['position'].astype('object')
    
    for i, row in df.iterrows():
        if not pd.isna(row['total_count']):
            df.at[i,'total_count'] = int(row['total_count'])
        if not pd.isna(row['hour_limit']):
            df.at[i,'hour_limit'] = int(row['hour_limit'])
        if not pd.isna(row['subject_length']):
            df.at[i,'subject_length'] = int(row['subject_length'])
        if not pd.isna(row['position']):
            df.at[i,'position'] = int(row['position'])
        if pd.isna(row['ab_test']):
            df.at[i,'ab_test'] = False
            
    df.to_csv("../data/campaigns_cleaned.csv", index=False)
    return df

campaigns_df = pd.read_csv("../data/campaigns.csv")
campaigns_cleaned_df = clean_campaigns(campaigns_df)
campaigns_cleaned_df

,id,campaign_type,channel,topic,started_at,finished_at,total_count,ab_test,warmup_mode,hour_limit,subject_length,subject_with_personalization,subject_with_deadline,subject_with_emoji,subject_with_bonuses,subject_with_discount,subject_with_saleout,is_test,position
0,63,bulk,mobile_push,sale out,2021-04-30 07:22:36.615023,2021-04-30 07:23:41,48211,False,False,NaN,146,False,False,True,False,False,False,NaN,NaN
1,64,bulk,mobile_push,sale out,2021-04-30 09:02:50.817227,2021-04-30 09:04:08,1037337,False,False,NaN,97,False,False,True,False,False,False,NaN,NaN
2,78,bulk,mobile_push,sale out,2021-05-06 07:14:10.533318,2021-05-06 07:15:17,70080,False,False,NaN,146,False,False,True,False,False,False,NaN,NaN
3,79,bulk,mobile_push,sale out,2021-05-06 09:03:56.486750,2021-05-06 09:42:15,921838,False,False,NaN,97,False,False,True,False,False,False,NaN,NaN
4,89,bulk,mobile_push,NaN,2021-05-07 11:54:06.168664,2021-05-07 11:54:38,45503,False,False,NaN,109,False,True,True,False,False,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1902,179,transactional,email,profile updated,NaN,NaN,NaN,False,NaN,NaN,134,False,False,False,False,False,False,NaN,NaN
1903,35,transactional,email,order reminder,NaN,NaN,NaN,False,NaN,NaN,88,False,False,False,False,False,False,NaN,NaN
1904,57,transactional,email,order reminder,NaN,NaN,NaN,False,NaN,NaN,88,False,False,False,False,False,False,NaN,NaN
1905,56,transactional,email,order reminder,NaN,NaN,NaN,False,NaN,NaN,88,False,False,False,False,False,False,NaN,NaN
1906,237,transactional,email,wish list status,NaN,NaN,NaN,False,NaN,NaN,104,False,False,True,False,False,False,NaN,NaN

In [4]:
messages_df = pd.read_csv("../data/messages.csv")
clients_df = pd.read_csv("../data/client_first_purchase_date.csv")
available_users = clients_df["client_id"].values.tolist()

messages_cleaned_df = messages_df[messages_df["client_id"].isin(available_users)]
messages_cleaned_df.to_csv("../data/messages_cleaned.csv", index=False)

C:\Users\Kiaver\AppData\Local\Temp\ipykernel_13036\3764109495.py:1: DtypeWarning: Columns (7,8,16,17,21,23,25,27,29) have mixed types. Specify dtype option on import or set low_memory=False.
  messages_df = pd.read_csv("../data/messages.csv")

In [44]:
display(campaigns_cleaned_df.dtypes)

id                                int64
campaign_type                    object
channel                          object
topic                            object
started_at                       object
finished_at                      object
total_count                      object
ab_test                          object
warmup_mode                      object
hour_limit                      float64
subject_length                  float64
subject_with_personalization     object
subject_with_deadline            object
subject_with_emoji               object
subject_with_bonuses             object
subject_with_discount            object
subject_with_saleout             object
is_test                          object
position                        float64
dtype: object

In [60]:
campaigns_cleaned_df['total_count'] = campaigns_cleaned_df['total_count'].astype('object')
for i, row in campaigns_cleaned_df.iterrows():
    if not pd.isna(row['total_count']):
        campaigns_cleaned_df.at[i,'total_count'] = int(row['total_count'])
    if pd.isna(row['ab_test']):
        campaigns_cleaned_df.at[i,'ab_test'] = False

In [61]:
campaigns_cleaned_df

,id,campaign_type,channel,topic,started_at,finished_at,total_count,ab_test,warmup_mode,hour_limit,subject_length,subject_with_personalization,subject_with_deadline,subject_with_emoji,subject_with_bonuses,subject_with_discount,subject_with_saleout,is_test,position
0,63,bulk,mobile_push,sale out,2021-04-30 07:22:36.615023,2021-04-30 07:23:41,48211,False,False,NaN,146.0,False,False,True,False,False,False,NaN,NaN
1,64,bulk,mobile_push,sale out,2021-04-30 09:02:50.817227,2021-04-30 09:04:08,1037337,False,False,NaN,97.0,False,False,True,False,False,False,NaN,NaN
2,78,bulk,mobile_push,sale out,2021-05-06 07:14:10.533318,2021-05-06 07:15:17,70080,False,False,NaN,146.0,False,False,True,False,False,False,NaN,NaN
3,79,bulk,mobile_push,sale out,2021-05-06 09:03:56.486750,2021-05-06 09:42:15,921838,False,False,NaN,97.0,False,False,True,False,False,False,NaN,NaN
4,89,bulk,mobile_push,NaN,2021-05-07 11:54:06.168664,2021-05-07 11:54:38,45503,False,False,NaN,109.0,False,True,True,False,False,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1902,179,transactional,email,profile updated,NaN,NaN,NaN,False,NaN,NaN,134.0,False,False,False,False,False,False,NaN,NaN
1903,35,transactional,email,order reminder,NaN,NaN,NaN,False,NaN,NaN,88.0,False,False,False,False,False,False,NaN,NaN
1904,57,transactional,email,order reminder,NaN,NaN,NaN,False,NaN,NaN,88.0,False,False,False,False,False,False,NaN,NaN
1905,56,transactional,email,order reminder,NaN,NaN,NaN,False,NaN,NaN,88.0,False,False,False,False,False,False,NaN,NaN
1906,237,transactional,email,wish list status,NaN,NaN,NaN,False,NaN,NaN,104.0,False,False,True,False,False,False,NaN,NaN